body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  background-color: #eff;
}

#btn {
  position: fixed;
  top: 50px;
  right: 10px;
}

#inputfile {
  position: fixed;
  top: 10px;
  /* left: 10px; */
  right: 10px;
}

#container {
  margin-top: 60px;
  left: 10px;
}

p {
  background-color: #fff8;
  /* border: 1px solid #444; */
  margin: 10px;
  padding: 10px;
  /* font-size: 16px; */
  box-shadow: 2px 2px 1px #3338;
  color: #555;
  border-radius: 5px;
}

.imgc {
  margin: 10px;
  /* background-color: #f8f8e0; */
  border: 1px solid #444;
  box-shadow: 5px 5px 5px #888;
}
