body {
  margin: 0 auto;
  background-color: #ddd;
}

p {
  background-color: #eee;
  /* border: 1px solid #444; */
  margin: 10px;
  padding: 10px;
  /* font-size: 16px; */
  box-shadow: 5px 5px 5px #888;
}

.imgc {
  margin: 10px;
  background-color: #f8f8e0;
  border: 1px solid #444;
  box-shadow: 5px 5px 5px #888;
}

#inputfile {
  position: fixed;
  top: 10px;
  /* left: 10px; */
  right: 10px;
}

#container {
  margin-top: 60px;
  left: 10px;
}
